*.vpk
*.log
cfg/server.cfg
Changelog.md
Changelogs/
ConfigUpdates/
RDY
README.md
TODO.txt
addonlist.txt
bin/
changelog.md
downloads/
dxsupport_override.cfg
expressions/
gameinfo.txt
gfx/
glbaseshaders.cfg
host.txt
lights.rad
mapcycle.txt
maplist.txt
maps/
materials/
media/
missioncycle.txt
models/
modelsounds.cache
motd.txt
program_cache.cfg
reslists/
resource/
scene.cache
scenes/
scripts/audiorules_xbox.xsc
scripts/gameserverconfig.vdf
scripts/kb_act.lst
scripts/kb_keys.lst
scripts/preload_xbox.xsc
scripts/reslistfixes_xbox.xsc
shader_cache.cfg
sound/
src/
stats.txt
steam.inf
whitelist.cfg
addons/sourcemod/data/admin_cache_dump.txt
